<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hugh Rawlinson | Experiencer of Things</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Caudex|Lato:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/styles/main.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>